body {
	font-size: 36px;
	text-align: center;
}

section {
	width: 33%;
}

.container {
	display: flex;
	align-items: center;
}

#p1-section {
	border: 5px solid red;
	color: red;
}

#p2-section {
	border: 5px solid blue;
	color: blue;
}

#you-are-message {
	display: none;
}

#game-message {
	display: none;
}